<% if object.errors.any? %>
	<div id="error_explanation">
		Oops! The <%= object.class.name.humanize.downcase %> could not be saved.<br />
    	Correct the following <%= pluralize(object.errors.count, "error") %>:
    	<ul>
      		<% object.errors.full_messages.each do |message| %>
        	<li><%= message %></li>
      		<% end %>
    	</ul>
  	</div>
<% end %>